.project
.settings
war/WEB-INF/appengine-generated/
war/WEB-INF/classes/
.gradle/
.classpath
bin/
build/
logs
project/project
project/target
target
.target
tmp
.history
dist
bin
.project
.cache
.classpath
.settings

