body {
	margin: 5px; 
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	border: 0;
	background-color: #DDDDDD;
	height: 1px;
	margin: 5px;
}


.global {
	border-top :solid 10px white; 
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.37, rgb(124,154,194)),
    color-stop(0.69, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(124,154,194) 37%,
	    rgb(255,255,255) 69%
	);
	min-height:2000px;
	width: 100%;
	
	}

.main {
	margin-left: auto;
	margin-right: auto;
	padding-top:5%;
	width: 55%;
	background-image:url(../images/fridgeBg.jpg);
	background-size:100%;
	min-height:2000px;
	}

.fridge {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	margin-top:10%;
	width:90%;
    font-family:"Comic Sans MS", serif;
    min-height:2000px;
	}

.post {
	background: transparent url(../images/PostIt.png) no-repeat 0 0;
	box-shadow: 15px 15px 12px #aaa;
	width:228px;
    height:228px;
    padding-top: 5px;
	}
	
.post .content{
	position: relative;
	font-weight: bold;
	padding: 3px;
	width:200px;
	}
	
.post .author{
	position: relative;
	padding: 3px;
	}
	
.post .date{
	position: relative;
	font-weight: lighter;
	padding: 3px;
	}	

.post .delete{
	position: relative;
	float: right;
	padding: 3px;
	text-decoration: none;
	}	

.topLine {
	height: 1.25em;
	background-color: #e5ecf9;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
	padding-top: 2px;
}

.headline {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #3366cc;
	text-align: center;
}

.info {
	float:left;
	width: 20%;
	position: fixed;
  	top: 20%;
  	padding: 10px
	}

.input_zone {
	right: 0;
	width: 20%;
	position: fixed;
  	top: 20%;
  	padding: 10px;
  	font-family:"Comic Sans MS", serif;
	}

.input {
	margin-left: auto;
	margin-right: auto;
	width:50%;
	}

.input td {
	font-size: smaller;
}

