<div id="footer">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="span2">  
					<a href="http://about.arnaud-gourlay.info/" target="blank">
					<i class="icon-envelope"></i> Contact</a>
				</div>
				<div class="span2">  
					{{#link-to 'fridge' "feedback"}}
						<i class="icon-bug"></i> Feedback</a>
					{{/link-to}}
				</div>
				<div class="span2">  
					<a href="https://github.com/agourlay/post-on-my-fridge" target="blank">
					<i class="icon-github"></i> Code</a>
				</div>
				<div class="span2">  
					<a href="/stats.html" target="blank">
					<i class="icon-dashboard"></i> Stats</a>
				</div>
				<div class="span3">
					<p class="muted pull-right">© 2013 Pomf. All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</div>