<div id="header">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span6 offset2">
						{{#link-to 'index'}}
							<h3>
				    			<img class="index-link" src="/images/fridge-link.png" alt="index"/> 
				    			Post on my fridge
				    		</h3>
						{{/link-to}}
					</div>
					<div class="span2">
						{{#link-to 'fridges'}}
			    			<h5><i class="icon-road"></i> Explore</h5>
			    		{{/link-to}}
					</div>
					<div class="span2">  
						{{#link-to 'trends'}}
			    			<h5><i class="icon-rocket"></i>  Trends</h5>
			    		{{/link-to}}
					</div>
				</div>
			</div>	
		</div>
	</div>	
</div>			