body {
	font-family: 'Open Sans', sans-serif;
}

#loading {
    position: absolute;
    top: 30%;
    left: 25%; 
    width: 50%;
    text-align: center;
}

#loading-sign {
    background-image: url(../../images/loading.gif);
    height: 128px;
    width: 128px;
    margin-left: auto;
	margin-right: auto;
}

#header{
	width: 100%;
	height: 5px;
	font-weight: bold;
	background-color: transparent;
}

#global { 
	width: 100%;
	height: 100%;
	visibility: hidden;
	}

.fridge {
	float : right;
	text-align:center;
	width: 70%;
	padding-top:5%;
	background-image:url(../../images/fridgeBg.png);
	background-size:100%;
	min-height:1500px;
	max-height:1500px;
	}

.leftPanel {
	float : left;
	width: 25%;
  	padding: 10px;
	}

.trash_bin {
	position: fixed;
  	top: 80%;
  	padding: 10px;
  	background: transparent url(../../images/trash.png) no-repeat 0 0;
 	height: 150px;
 	width: 150px;
 	background-size:60%;
	}
	
.barrel_roll {
    -webkit-transition: -webkit-transform 4s ease;
    -webkit-transform: rotate(360deg);
    -moz-transition: -moz-transform 4s ease;
    -moz-transform: rotate(360deg);
    -o-transition: -o-transform 4s ease;
    -o-transform: rotate(360deg);
    transition: transform 4s ease;
    transform: rotate(360deg);
    }    
    