<div id="footer">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8 offset2">
				<div class="span2">  
					<a href="http://about.arnaud-gourlay.info/" target="blank">
					<i class="icon-envelope"></i>
					<small> Contact</small>
					</a>
				</div>
				<div class="span2">  
					{{#link-to 'fridge' "feedback"}}
						<i class="icon-bug"></i>
						<small> Feedback</small>
						</a>
					{{/link-to}}
				</div>
				<div class="span2">  
					<a href="https://github.com/agourlay/post-on-my-fridge" target="blank">
					<i class="icon-github"></i>
					<small> Code</small>
					</a>
				</div>
				<div class="span2">  
					<a href="/stats.html" target="blank">
					<i class="icon-dashboard"></i>
					<small> Stats</small>
					</a>
				</div>
				<div class="span3">
					<p class="muted">
					<small>© 2013 Pomf. All rights reserved</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>