html, body {
	height: 100%;
	margin: 0;}

a{text-decoration:none !important;}

#app, #fridgesView {
	min-height: 100%;
	height: 100%;}

.panel-box {
	padding-top: 8px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;}

#togglePanel {
	position: fixed;
	left:213px;
	z-index: 500;
	display:block; }	

.index-link{
	border:none;
	height:28px;
	cursor: pointer;
	padding-top: 2px;
	padding-bottom: 2px;}	

#fridge {
	position:relative;
	width: 100%;
	min-height: 100%; }
	
#fridge-content {
	position:relative;
	background-image: url(../images/p5.png);
	cursor: crosshair;
	min-height: 100%;}

#panel {
	position : fixed;
	z-index: 80;
	opacity:0.9;
	width: 230px;
  	padding-left: 2px;
    box-shadow: 7px 0px 9px -2px #aaa;
    -moz-box-shadow: 7px 0px 9px -2px #aaa;
    -webkit-box-shadow: 7px 0px 9px -2px #aaa; }

#panel-header {
	position : relative;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 5px;
	z-index : 90;}
	
#chat-messages {
	position:relative;
	width: 100%;
	background-color : white;
	color : #3C4044;
	font-size: small;
	overflow-y : scroll;
	overflow-x : hidden; }	

.chat-message{
	margin-bottom: 2px;}

#chat-input {
	resize: none;
	margin-bottom: 1px;}		

.chat-content{
	word-wrap : break-word;
	margin-bottom: 4px;}

#wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -20px;}

#push, #footer {
	display: block;
	margin-top: 20px;
	height: 40px;}

#main-header {
	background-color: #f8f8f8;
	border-bottom: 1px solid #e0e0e0;}

#main-header a{
	color: #317eac;}

#main-title{
	font-size: 20px;
	color: #317eac;
	margin-left: 30px;
	word-wrap : break-word;}

#footer {
	width: 100%;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
    vertical-align: middle !important;}

.pager li a {
	cursor: pointer;
}    

.barrel_roll {
    -webkit-transition: -webkit-transform 4s ease;
    -webkit-transform: rotate(360deg);
    -moz-transition: -moz-transform 4s ease;
    -moz-transform: rotate(360deg);
    -o-transition: -o-transform 4s ease;
    -o-transform: rotate(360deg);
    transition: transform 4s ease;
    transform: rotate(360deg); }