.post {
	box-shadow: 4px 4px 3px #aaa;
	width:230px;
	height:230px;
	padding-top: 5px;
	text-align: center;
	position: absolute;
	z-index: 10;
	font-size: small; }

.post:hover,.newPost:hover {
	cursor: move; }

.post:hover  {
    z-index:30; }

.post-header{
	position: absolute;
	left:0;
	top:-25px;
	display:none; }
	
.post:hover .header:hover {
	cursor:pointer; }

.post .content{
    height: 200px;
    word-wrap : break-word;}
	
.post .footer{
	font-style:italic;
	padding-top: 4px;}
	
.post_picture {
	height : 99%;
	width: 95%;	}

.post textarea{
	border: dotted;
    resize: none;
    width: 210px;
    margin-right: auto;
	margin-left: auto;
    margin-bottom: 7px;
	border-width: thin;	}			

.post input[type="color"]{
	height: 25px;
	margin-left: 10px;}

.post button{
	margin: 5px;
	float:right;}	

.rotate-5 {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform:rotate(5deg);
    transform: rotate(5deg);
    transform: translate3d(0,0,0);
}			