.post {
	box-shadow: 5px 5px 4px #aaa;
	width:240px;
	height:240px;
	padding-top: 5px;
	position: absolute;
	z-index: 10;
	font-size: small; }

.post:hover,.newPost:hover {
	cursor: move; }

.post-header{
	position: absolute;
	left:0;
	top:-25px;
	display:none; }
	
.post:hover .header:hover {
	cursor:pointer; }

.post .content{
	position: relative;
	font-weight: bold;
	padding: 3px;
	margin:auto;
    width: 230px;
    height: 210px;
    word-wrap : break-word;
    vertical-align: middle;}
	
.post .footer{
	position: relative;
	font-style:italic;
	margin: auto;}
	
.post_picture {
	height : 90%;
	width: 90%;	}

.post textarea{
	border: dotted;
    resize: none;
    width: 220px;
    margin-right: auto;
	margin-left: auto;
    margin-bottom: 7px;
	border-width: thin;	}

.post input[type="date"]{
	margin-right: auto;
	margin-left: 10px;
	height: 18px;
	width: 140px;}

.post input[type="text"]{
	margin-right: auto;
	margin-left: 10px;
	height: 18px;
	width: 130px;}	

.post button{
	margin-right: 5px;
	float:right;}				

.post input[type="color"]{
	float : right;
	margin-right: 5px;}		