html,body {
	font-family: 'Open Sans', sans-serif;
	margin: 0; }

header {
	position : fixed;
	width: 100%;
	height: 40px;
	font-weight: bold;
	font-size : large;
	color : white;
	background-color: #252525;
	opacity: 0.8;
	margin-bottom: 20px;
	z-index : 999;
	box-shadow: 5px 5px 4px #aaa;
	-moz-box-shadow: 5px 5px 4px #aaa;
	-webkit-box-shadow: 5px 5px 4px #aaa;
	vertical-align: middle; }
	
#loaded-content{
	position:relative;
	float : right;
	margin-top: 40px;
	text-align:center;
	width: 80%;
	height : 100%;}

.rss {
    background-image: url(../../images/feed-icon-14x14.png);
    height: 15px;
    width: 15px; }

#fridge-title{
	width: 50%;
	float: left;
	margin-left: 40px;
	margin-top: 5px; }

#search-area {
	margin-top: 5px;
	float: right;
	margin-right: 40px; }	

#global {
	position:relative;
	width: 100%;
	min-height: 100%; }

#main-content{
	position:relative;
	width: 100%;
	min-height: 100%;
	height : 2000px; }

#fridge {
	position:relative;
	text-align:center;
	width: 100%;
	background-image:url(../../images/fridgeBg.png);
	background-size:100%;
	height : 100%;
}

#leftPanel {
	position : fixed;
	top : 50px;
	float : left;
	width: 20%;
	height: 100%;
  	padding: 10px; }

#chatPanel{
	position : fixed;
	bottom: 40px;
	width: 20%;
	height: 45%; }

#chatInput {
	position:relative;
	width: 100%;
	height: 100%; }	
	
#chatInput textarea{
	resize: none;
	width: 100%;
	height: 20%; }		
	
#chatLog {
	position:relative;
	width: 100%;
	height: 80%;
	float :left;
	background-color : white;
	font-size: small;
	opacity:0.8;
	overflow-y : scroll;
	overflow-x : hidden; }	

.chatMessage{
	text-align: justify;
	word-wrap : break-word;
}

.barrel_roll {
    -webkit-transition: -webkit-transform 4s ease;
    -webkit-transform: rotate(360deg);
    -moz-transition: -moz-transform 4s ease;
    -moz-transform: rotate(360deg);
    -o-transition: -o-transform 4s ease;
    -o-transform: rotate(360deg);
    transition: transform 4s ease;
    transform: rotate(360deg); }    