.post {
	box-shadow: 5px 5px 4px #aaa;
	width:240px;
	height:240px;
	padding-top: 5px;
	position: absolute;
	z-index: 200;
	font-size: small; }

.post:hover,.newPost:hover {
	cursor: move; }

.post:hover  {
    width: 250px;
    height: 250px;
    z-index:300; }

.post:hover .content:hover {
    width: 240px;
    height: 220px;
    z-index:300; }

.post .header{
	position: absolute;
	left:0;
	top:-18px;
	border:1px solid black;
	background-color:white;
	display:none; }
	
.post:hover .header:hover {
	cursor:pointer; }

.post .content{
	position: relative;
	font-weight: bold;
	padding: 3px;
	margin:auto;
    width: 230px;
    height: 210px;
    word-wrap : break-word;
    vertical-align: middle;}
	
.post .footer{
	position: relative;
	font-style:italic;
	margin: auto;}
	
.post_picture {
	height : 90%;
	width: 90%;	}

.newPost {
	position: relative;
	box-shadow: 5px 5px 4px #aaa;
	width:230px;
	height:230px;
	padding-top: 10px;
	margin-bottom : 20px;
	z-index: 99999;}

.newPost .iconBox{
	float: right;
	position: relative;
	display : inline-block;
	width : 95%; }

.newPost .changeColor{
	height: 20px;
 	width: 40px;
 	background-size: 100%;
 	z-index: 1000;
 	float: right; }

 .newPost .datePicker{
	height: 20px;
 	width: 40px;
 	z-index: 1000;
 	float: left;
 	padding: 5px; }

.newPost .content{
	position: relative;
	font-weight: bold;
	padding-bottom: 3px;
	margin-left : 15px; }
	
.newPost .author{
	position: relative;
	margin-left : 20px;
	padding-top : 10px;	}

.newPost input{
	background-color: transparent;
	border: dotted;
    resize: none;
	border-width: thin;	}

.newPost textarea{
	background-color: transparent;
	border: dotted;
    resize: none;
    width: 190px;
	border-width: thin;	}