html{
height:  100%;}

body {	
	margin: 0;
	min-height: 100%; }

header {
	position : fixed;
	width: 100%;
	height: 36px;
	background-color: white;
	z-index : 500;
	box-shadow: 1px 5px 5px #aaa;
	-moz-box-shadow: 1px 5px 5px #aaa;
	-webkit-box-shadow: 1px 5px 5px #aaa;
	vertical-align: middle; }
	
.rss-link {
    border:none;
    padding-left:10px}

#fridge-title{
	width: 37%;
	color : #768797;
	font-size : large;
	font-weight: bold;
	float: left;
	margin-left: 15px;
	margin-top: 7px; }	

.index-link{
	border:none;
	height:29px;
	padding-right:10px;
	cursor: pointer;}	

#header-interaction{
	margin-top: 3px;
	float:right;
	text-align: right;
	width:61%;
	height:100%;}

#header-interaction input{
	margin-right: 10px;}

#header-interaction .btn-info{
	margin-left: 10px;}

#header-interaction .add-on{
	margin-left: 10px;}

.global {
	position:relative;
	width: 100%;
	min-height: 100%; }

#main-content{
	position:relative;
	width: 100%;
	height: 1200px;}
	
#fridge {
	position:relative;
	float: right;
	margin-top: 40px;
	text-align: center;
	width: 100%;
	background-image: url(../../images/p5.png);
	min-height: 100%;}

.chatPanel {
	position : fixed;
	display: none;
	z-index: 900;
	top : 36px;
	float : left;
	width: 18%;
	height: 100%;
  	padding: 2px; }
	
.chatLog {
	position:relative;
	width: 100%;
	height: 83%;
	float :left;
	background-color : white;
	font-size: small;
	opacity:0.85;
	overflow-y : scroll;
	overflow-x : hidden; }	

.chatInput {
	resize: none;
	margin-bottom: 1px;
	width: 94%;
	height: 9%; }		

.chatContent{
	word-wrap : break-word;
	margin-bottom: 2px;
}

.chatMessage{
	margin-bottom: 2px;
}

.barrel_roll {
    -webkit-transition: -webkit-transform 4s ease;
    -webkit-transform: rotate(360deg);
    -moz-transition: -moz-transform 4s ease;
    -moz-transform: rotate(360deg);
    -o-transition: -o-transform 4s ease;
    -o-transform: rotate(360deg);
    transition: transform 4s ease;
    transform: rotate(360deg); }    
