html, body {
height: 100%;
margin: 0;
}

header {
	position : relative;
	width: 100%;
	height: 130px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e0e0e0;
	z-index : 90;}

a{
	text-decoration:none;
}	

#app, #indexView {
	min-height: 100%;
	height: 100%;	
}

#fridge-title{
	min-width: 100%;
	color : #3C4044;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	text-transform: capitalize;
	padding: 9px 3px 9px 3px;}	

#social-box{
	text-align: left;
	height: 30%;
	padding: 3px;
	width: 100%;}

#search-box{
	text-align: left;
	height: 30%;
	padding: 3px;
	width: 100%;}
	
.rss-link {
	border:none;
	padding-left: 15px;
	text-decoration: none;}

.index-link{
	border:none;
	height:28px;
	cursor: pointer;}	

#fridge {
	position:relative;
	width: 100%;
	min-height: 100%; }
	
#fridge-content {
	position:relative;
	float: right;
	text-align: center;
	height: 1200px;
	width: 82%;
	background-image: url(../../images/p5.png);
	min-height: 100%;}

#panel {
	position : fixed;
	z-index: 80;
	width: 18%;
	height: 100%;
  	padding-left: 2px;
  	box-shadow: 7px 0px 9px -2px #aaa;
	-moz-box-shadow: 7px 0px 9px -2px #aaa;
	-webkit-box-shadow: 7px 0px 9px -2px #aaa; }
	
#chat-messages {
	position:relative;
	width: 100%;
	height: 70%;
	background-color : white;
	color : #3C4044;
	font-size: small;
	overflow-y : scroll;
	overflow-x : hidden; }	

.chat-message{
	margin-bottom: 2px;
}

#chat-input {
	resize: none;
	margin-bottom: 1px;
	width: 94%;
	height: 9%; }		

.chat-content{
	word-wrap : break-word;
	margin-bottom: 4px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
	/*background-image: url(../../images/p5.png);*/
}

#push, #footer {
	display: block;
	height: 40px;
}

#header {
	background-color: #f8f8f8;
	border-bottom: 1px solid #e0e0e0;
    vertical-align: middle !important;
}

#footer {
    vertical-align: middle !important;
}

.barrel_roll {
    -webkit-transition: -webkit-transform 4s ease;
    -webkit-transform: rotate(360deg);
    -moz-transition: -moz-transform 4s ease;
    -moz-transform: rotate(360deg);
    -o-transition: -o-transform 4s ease;
    -o-transform: rotate(360deg);
    transition: transform 4s ease;
    transform: rotate(360deg); }