html{
height:  100%;}

body {	
	margin: 0px;
	min-height: 100%; }

header {
	width: 100%;
	height: 36px;
	background-color: black;
	opacity: 0.9;
	z-index : 500;
	box-shadow: 1px 5px 5px #aaa;
	-moz-box-shadow: 1px 5px 5px #aaa;
	-webkit-box-shadow: 1px 5px 5px #aaa;
	border-bottom: 1px solid rgb(0, 0, 0);
	vertical-align: middle; }

.header a{text-decoration:none;}
	
#stats-title{
	width: 50%;
	color : white;
	font-size : large;
	font-weight: bold;
	float: left;
	margin-left: 15px;
	margin-top: 7px; }	

#uptime-box{
	text-align: right;
	width:30%;
	height:100%;
	color : #63E263;;
	font-weight: bold;
	margin-right: 10px;
	margin-top: 9px;
	float : right;}	

.index-link{
	border:none;
	height:28px;
	padding-right:10px;
	cursor: pointer;}		

#stats-container{
	position:relative;
	width: 96%;
	margin: 40px 10px 0px 10px;}

#chart_container{
	margin-top: 10px;
	margin-left : auto;
    margin-right : auto;
}	

#legend{
	width: 100%;
}

#stats_table{
	width: 90%;
	margin-left : auto;
    margin-right : auto;
    margin-bottom: 10px;
}

#requestTimeouts{
	color:red;
}	