<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<div class="col-xs-4">  
					<a href="http://about.arnaud-gourlay.info/" target="blank">
						<i class="fa fa-envelope"></i>
						<small> Contact</small>
					</a>
				</div>
				<div class="col-xs-4">  
					<a href="https://github.com/agourlay/post-on-my-fridge" target="blank">
						<i class="fa fa-github"></i>
						<small> Code</small>
					</a>
				</div>
				<div class="col-xs-4">  
					{{#link-to 'metrics'}}
						<i class="fa fa-dashboard"></i>
						<small> Metrics</small>
					{{/link-to}}
				</div>
			</div>
		</div>
	</div>
</div>