<div id="footer">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6 offset3">
				<div class="span3">  
					<a href="http://about.arnaud-gourlay.info/" target="blank">
					<i class="fa fa-envelope"></i>
					<small> Contact</small>
					</a>
				</div>
				<div class="span3">  
					{{#link-to 'fridge' "feedback"}}
						<i class="fa fa-bug"></i>
						<small> Feedback</small>
						</a>
					{{/link-to}}
				</div>
				<div class="span3">  
					<a href="https://github.com/agourlay/post-on-my-fridge" target="blank">
					<i class="fa fa-github"></i>
					<small> Code</small>
					</a>
				</div>
				<div class="span3">  
					<a href="/stats.html" target="blank">
					<i class="fa fa-dashboard"></i>
					<small> Stats</small>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>