<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="col-md-3">  
					<a href="http://about.arnaud-gourlay.info/" target="blank">
						<i class="fa fa-envelope"></i>
						<small> Contact</small>
					</a>
				</div>
				<div class="col-md-3">  
					{{#link-to 'fridge' "feedback"}}
						<i class="fa fa-bug"></i>
						<small> Feedback</small>
					{{/link-to}}
				</div>
				<div class="col-md-3">  
					<a href="https://github.com/agourlay/post-on-my-fridge" target="blank">
						<i class="fa fa-github"></i>
						<small> Code</small>
					</a>
				</div>
				<div class="col-md-3">  
					{{#link-to 'metrics'}}
						<i class="fa fa-dashboard"></i>
						<small> Stats</small>
					{{/link-to}}
				</div>
			</div>
		</div>
	</div>
</div>