<div id="main-header">
	<div id="main-title">
		{{#link-to 'index'}}
	    	<img class="index-link" src="/images/fridge-link.png" alt="index"/> 
	    	{{view.title}}
		{{/link-to}}
	</div>
	<div id="header-items">
		<div class="header-item">
			{{#link-to 'fridges'}}
				<h5><i class="fa fa-road"></i> Explore</h5>
			{{/link-to}}
		</div>
		<div class="header-item"> 
			<div id="search-box">
			    <div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-search"></i>
					</span>	
			  		<input class="typeahead" type="text" placeholder="Search for fridges"/>
				</div>	
	    	</div>
    	</div>
	</div>
</div>			