<div id="main-header">
	<div id="main-title">
		{{#link-to 'index'}}
	    	<img class="index-link" src="/images/fridge-link.png" alt="index"/> 
	    	{{view.title}}
		{{/link-to}}
	</div> 
	<div id="search-box">
	  	<input class="typeahead" type="text" placeholder="Search for fridges"/>
	</div>
</div>			