<div id = "wrap">
	{{render "mainHeader" null}}
	<div id="main-content">
		<div class="container">
			<div class="row">
				coming soon ...
			</div>
			<div id ="push"></div>
		</div>
	</div>
</div>
{{partial "footer"}}	