<div id = "wrap">
	{{render "mainHeader" null}}
	<div id="main-content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span10 offset1 text-center">
					<h4>Trends</h4> 
				</div>
			</div>
			<div class="row-fluid">
				<div class="span10 offset1 well">
					Trending fridges (coming soon)
				</div>
			</div>
			<div id = "push"></div>
		</div>
	</div>
</div>
{{partial "footer"}}