html,body {	
	margin: 0;
	height: 100%; }

header {
	position : fixed;
	width: 100%;
	height: 40px;
	font-weight: bold;
	font-size : large;
	color : white;
	background-color: #252525;
	opacity: 0.9;
	z-index : 500;
	box-shadow: 5px 5px 4px #aaa;
	-moz-box-shadow: 5px 5px 4px #aaa;
	-webkit-box-shadow: 5px 5px 4px #aaa;
	vertical-align: middle; }
	
.rss {
    background-image: url(../../images/feed-icon-14x14.png);
    height: 15px;
    width: 15px; }

#fridge-title{
	width: 30%;
	float: left;
	margin-left: 40px;
	margin-top: 7px; }

#header-interaction{
	margin-top: 5px;
	float:right;
	display: inline;
	width:40%;
	height:100%;
}

#create-area {
	width:150px;
	display: inline;
	margin-right: 20px; }

#user-area {
	display: inline;
	margin-right: 20px; }	

#user-area input{
	margin-right: 5px;
	height: 18px;
	width: 120px;}	

#search-area {
	display: inline;
	margin-right: 20px; }	

#search-area input{
	height: 18px;}	

.global {
	position:relative;
	background-image: url(../../images/bg-plaid.png);
	width: 100%;
	min-height: 100%; }

#main-content{
	position:relative;
	width: 100%;
	min-height: 100%;
	height : 2000px; }
	
#fridge {
	position:relative;
	float: right;
	margin-top: 40px;
	text-align: center;
	width: 85%;
	background-image: url(../../images/fridgeBg.png);
	background-size: 100%;
	height: 100%;}

#leftPanel {
	position : fixed;
	top : 40px;
	float : left;
	width: 16%;
	height: 100%;
  	padding: 2px; }

#chatPanel{
	width: 100%;
	height: 100%; }
	
.chatLog {
	position:relative;
	width: 100%;
	height: 87%;
	float :left;
	background-color : white;
	font-size: small;
	opacity:0.8;
	overflow-y : scroll;
	overflow-x : hidden; }	

#chatInput {
	resize: none;
	margin-bottom: 2px;
	width: 100%;
	height: 7%; }		

.chatContent{
	word-wrap : break-word;
	margin-bottom: 2px;
}

.chatMessage{
	margin-bottom: 2px;
}

.barrel_roll {
    -webkit-transition: -webkit-transform 4s ease;
    -webkit-transform: rotate(360deg);
    -moz-transition: -moz-transform 4s ease;
    -moz-transform: rotate(360deg);
    -o-transition: -o-transform 4s ease;
    -o-transform: rotate(360deg);
    transition: transform 4s ease;
    transform: rotate(360deg); }    