<div id="panel-header"> 
	<div id="social-box">
		<form class="form-inline">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-user"></i>
				</span>	
				<input type="text" placeholder="Username" class="input-small" id="pseudo"/>
			</div>
		</form>					
    </div>
    <div id="participant-box">
		<div class="input-group">
			<span class="input-group-addon">
				<i class="fa fa-eye"></i>
			</span>	
			{{input type="text" class="input-small" value=view.participants disabled="true"}}
		</div>		
    </div>
    <button type="button" class="btn btn-primary btn-sm" {{action "addDefaultPost"}}>
		<i class="fa fa-plus-circle"></i> Post
	</button>
</div>