<div id="panel-header"> 
	<div class="panel-box">
		<form class="form">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-user"></i>
				</span>	
				<input type="text" placeholder="Username" class="form-control input-sm" id="pseudo"/>
			</div>
		</form>					
    </div>
    <div class="panel-box">
    	<form class="form">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-eye"></i>
				</span>	
				{{input type="text" class="form-control input-sm" value=view.participants disabled="true"}}
			</div>
		</form>				
    </div>
    <div class="panel-box">
	    <button type="button" class="btn btn-primary btn-sm btn-block" {{action "addDefaultPost"}}>
			<i class="fa fa-plus-circle"></i> Post
		</button>
	</div>
</div>