<div id="panel-header">
	<div class="row"> 
		<div id="main-title">
			{{#link-to 'fridges'}}
		    	<img class="index-link" src="/images/fridge-link.png" height="28" width="18" alt="index"/> 
		    	{{view.fridgeName}}
			{{/link-to}}
		</div> 
	</div> 
	<div class="panel-box">
		<form class="form">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-user fa-lg"></i>
				</span>	
				<input type="text" placeholder="Username" class="form-control input-sm" id="pseudo"/>
			</div>
		</form>					
    </div>
    <div class="panel-box">
    	<form class="form">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-comments-o fa-lg"></i>
				</span>	
				{{input type="text" class="form-control input-sm" value=view.participants disabled="true"}}
			</div>
		</form>				
    </div>
</div>