<div id="panel-header">
	<div id="social-box">
		<form class="form-inline">
			<div class="input-prepend">
				<span class="add-on">
					<i class="fa fa-user"></i>
				</span>	
				<input type="text" placeholder="Username" class="input-small" id="pseudo"/>
			</div>
			<button type="button" class="btn btn-primary btn-small" {{action "addDefaultPost"}}>
				<i class="fa fa-plus-circle"></i> Post
			</button>
		</form>					
    </div>
</div>