<div class='header'>
	<div class="btn-toolbar">
	    <div class="btn-group">
	    	<a class="btn btn-mini"><i class="icon-thumbs-up"></i></a>
	     	<a class="btn btn-mini"><i class="icon-thumbs-down"></i></a>
	    </div>
	    <div class="btn-group">
	       <a class="btn btn-mini"><i class="icon-edit"></i></a>
	       <a class="btn btn-mini"><i class="icon-trash"></i></a>
	    </div>
	</div>
</div>	