<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>com.agourlay.pomf.util.xss.XSSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>jersey</filter-name>
		<filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.agourlay.pomf.controller</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jersey</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>com.agourlay.pomf.conf.Config</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>

</web-app>
