.post {
	background: transparent url(../../images/postIt.png) no-repeat 0 0;
	box-shadow: 5px 5px 4px #aaa;
	width:228px;
	height:228px;
	padding-top: 5px;
	position: absolute;
	z-index: 200;
	font-size: small; }

.post:hover,.newPost:hover {
	cursor: move; }

.post:hover  {
    width: 248px;
    height: 248px;
    z-index:300; }

.post:hover .content:hover {
    width: 242px;
    height: 220px;
    z-index:300; }

.post .header{
	position: absolute;
	left:0;
	top:-18px;
	border:1px solid black;
	background-color:white;
	display:none; }
	
.post:hover .header:hover {
	cursor:pointer; }

.post .content{
	position: relative;
	font-weight: bold;
	padding: 3px;
	margin:auto;
    width: 222px;
    height: 200px;
    word-wrap : break-word;
    vertical-align: middle;}
	
.post .footer{
	position: relative;
	font-style:italic;
	margin: auto;}
	
.post_picture {
	height : 80%;
	width: 80%;	}

.newPost {
	background: transparent url(../../images/postIt.png) no-repeat 0 0;
	box-shadow: 5px 5px 4px #aaa;
	width:228px;
	height:228px;
	padding-top: 10px;
	margin-bottom : 40px;
	z-index: 999; }

.newPost .iconBox{
	float: right;
	position: relative;
	display : inline-block;
	width : 95%; }

.newPost .changeColor{
	height: 20px;
 	width: 40px;
 	background-size: 100%;
 	z-index: 1000;
 	float: right; }

 .newPost .datePicker{
	height: 20px;
 	width: 50px;
 	z-index: 1000;
 	float: left;
 	padding: 5px; }

.newPost .content{
	position: relative;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 10px;
	margin-left : 30px; }
	
.newPost .author{
	position: relative;
	margin-left : 25px;
	padding: 3px;
	padding-top : 10px;	}

.newPost input, .newPost textarea{
	background-color: transparent;
	border: dotted;
	border-width: thin;	}