<div class='post-header'>
	<div class="btn-toolbar">
	    <div class="btn-group-sm">
	        <a class="btn btn-sm edit-post" {{action editMode target="view"}}>
	        	<i class="fa fa-edit fa-lg"></i>
	        </a>
	        <a class="btn btn-sm trash-post" {{action trashPost target="view"}}>
	        	<i class="fa fa-trash-o fa-lg"></i>
	        </a>
	    </div>
	</div>
</div>	